<div class="page-body" style="width:70%; margin: 0 auto;">

</br>
<% if notice.present? %>
  <div class="alert alert-warning alert-dismissible fade in" style="width:70%; margin: 0 auto;" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= notice %>
  </div>
</br>
<% end %>
	
<div class="card card-inverse" style="background-color: #373a3c; border-color: #333; color:#fff">
	<div class="card-block">
	  <h4 class="card-title"><%= @article.title %></h4>
	  <p class="card-text"><%= markdown(@article.content) %></p>
	  <div>
	    	<%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-primary' %>
	      	<%= link_to 'Back', articles_path, class: 'btn btn-danger' %>
	  </div>
	</div>
</div>
</div>
